certifi==2025.1.31
charset-normalizer==3.4.1
evtx==0.8.9
idna==3.10
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pyparsing==3.2.1
pySigma==0.11.19
pysigma-backend-carbonblack==0.1.8
pysigma-backend-cortexxdr==0.1.4
pySigma-backend-kusto==0.4.3
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
tzdata==2025.1
urllib3==2.3.0
